{{/* Pie de página individual de cada archivo */}}
<p style="text-align: center;">
    {{ if .Params.license }}
    {{ if .Params.Author }}  
            {{if .Params.Booktitle }}
                <small>Fuente: <a href="{{.Params.Source}}" target="_blank" rel="noopener">{{.Params.Author}} - {{.Params.BookTitle}}</a></small><br>
            {{ else }}
                <small>Fuente: <a href="{{.Params.Source}}" target="_blank" rel="noopener">{{.Params.Author}} - {{.Title}}</a></small><br>
            {{ end }}
    {{ else }} {{/* Las páginas de Autor no tienen Author*/}}
    <small>Fuente: <a href="{{.Params.Source}}" target="_blank" rel="noopener">{{.Title}}</a></small><br>
    {{ end }}
    <small>{{.Params.Publisher}} {{.Params.Pubyear}}</small><br>
    <small>{{ partial "inslicense.html" . }}</small><br>
    {{ end }}
</p>
